$primary-background: linear-gradient(rgb(47,150,163),rgb(48,62,143));
$primary-color: #29e26d;
$primary-fontfamily: Optima,Segoe,Segoe UI,Candara,Calibri,Arial,sans-serif; 

*{
    margin: 0;
    padding: 0;
    background-color: gray;

}

body{
    display: flex;
    flex-direction: column;
    height: 100%;
    font-family: $primary-fontfamily;
}

.navbar{
    display: flex;
    height: 60px;
    width: 100%;
    background-color: rgb(41, 39, 39);
    
    *{
        font-weight: bold;
        text-align: center;
        text-decoration: none;
        float: left;
        width: 80px;
        margin: 20px;
        color:white;
        background-color: rgb(41, 39, 39);
        border-radius: 100px;
    }
    &__logo{
        margin-top: 10px;
    }

    *:not(.navbar__logo,.navbar__togglebutton,.navbar__togglebutton__bar):hover{
        background-color: $primary-color;
        color: rgb(41, 39, 39);
    }

    &__togglebutton{
        position: absolute;
        right: 1rem;
        display: none;
        flex-direction: column;
        justify-content: space-between;
        width: 30px;
        height: 21px;

        &__bar{
            height: 3px;
            width: 100%;
            background-color: white;
            border-radius: 10px;
            margin: 2px;
        }
    }
    

}

@media (max-width: 604px){
    .navbar__togglebutton{
        display: block;
    }

    .navbar__home, .navbar__about,.navbar__help, .navbar__contact{
        display: none;
        
    }

    .navbar{
        flex-direction: column;
        align-items: flex-end;
        text-align: center;

        &__logo{
            align-self: flex-start;
        }
    }
}

@media screen and (min-width: 605px){
    .navbar__home, .navbar__about,.navbar__help, .navbar__contact{
        display: block !important; //for future generations - BAD PRACTICE - but would need to rewrite css in order to get the dropdown menu working properly
        
    }
}



.container{
    background-color: $primary-background;
    height: 80%;
}

.footer{
    clear: both;
    height: 50px;
    width: 100%;
    background-color: $primary-color;
    position: absolute;
    bottom: 0
}

