$primary-background: linear-gradient(#2f96a3,#303e8f);
$primary-color: #29e26d;
$secondary-color: rgb(41, 39, 39);;
$primary-fontfamily: Optima,Segoe,Segoe UI,Candara,Calibri,Arial,sans-serif; 

%white-text{
    color: white;
}

*{
    margin: 0;
    padding: 0;
    

}

body{
    display: flex;
    flex-direction: column;
    height: 100%;
    font-family: $primary-fontfamily;
    background: $primary-background;
}

.navbar{
    z-index: 1;
    display: flex;
    height: 60px;
    width: 100%;
    background-color: $secondary-color;
    
    *{
        @extend %white-text;
        font-weight: bold;
        text-align: center;
        text-decoration: none;
        float: left;
        width: 80px;
        margin: 20px;
        background-color: $secondary-color;
        border-radius: 100px;
    }
    &__logo{
        margin-top: 10px;
    }

    *:not(.navbar__logo,.navbar__togglebutton,.navbar__togglebutton__bar):hover{
        background-color: $primary-color;
        color: $secondary-color;
    }

    &__togglebutton{
        position: absolute;
        right: 1rem;
        display: none;
        flex-direction: column;
        justify-content: space-between;
        width: 30px;
        height: 21px;

        &__bar{
            height: 3px;
            width: 100%;
            background-color: white;
            border-radius: 10px;
            margin: 2px;
        }
    }
    

}

@media (max-width: 604px){
    .navbar__togglebutton{
        display: block;
    }

    .navbar__home, .navbar__about,.navbar__help, .navbar__contact{
        display: none;
        
    }

    .navbar{
        flex-direction: column;
        align-items: flex-end;
        text-align: center;

        &__logo{
            align-self: flex-start;
        }
    }
}

@media screen and (min-width: 605px){
    .navbar__home, .navbar__about,.navbar__help, .navbar__contact{
        display: block !important; //for future generations - BAD PRACTICE - but would need to rewrite css in order to get the dropdown menu working properly
        
    }
}



.container{
    background-color: $primary-background;
    min-height: calc(100vh - 70px);
    width: 80%;
    margin: 0 auto;
    text-align: center;

    &__image{
        z-index: 0;
        max-width: 70%;
        height: auto;
        width: auto\9; /* ie8 */

        &--center{
            display: block;
            margin: 0 auto;
        }
    }

    &__text{
        @extend %white-text;
        *{
            padding: 10px;
        }
        
    }

}



.footer{
    height: 50px;
    width: 100%;
    background-color: $secondary-color;
    position: sticky;

    &__text {
        @extend %white-text;
        text-align: center;
        padding: 10px;
    }
}

